In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("NIFTY 50.csv")
data.head()

                  date     open     high      low    close  volume
0  2015-01-09 09:15:00  8285.45  8295.90  8285.45  8292.10       0
1  2015-01-09 09:16:00  8292.60  8293.60  8287.20  8288.15       0
2  2015-01-09 09:17:00  8287.40  8293.90  8287.40  8293.90       0
3  2015-01-09 09:18:00  8294.25  8300.65  8293.90  8300.65       0
4  2015-01-09 09:19:00  8300.60  8301.30  8298.75  8301.20       0

In [3]:
data['date'] = pd.to_datetime(data['date'])
data = data.set_index('date')

data['open'] = data['open'].resample('3Min').first()
data['high'] = data['high'].resample('3Min').max()
data['low'] = data['low'].resample('3Min').min()
data['close'] = data['close'].resample('3Min').last()
data = data.dropna()

data = data.drop('volume', axis=1)
data['bar_marker'] = pd.Series()
data['sph_spl_marker'] = pd.Series()
data['place_order_marker'] = pd.Series()

data.head()

,open,high,low,close,bar_marker,sph_spl_marker,place_order_marker
date,,,,,,,
2015-01-09 09:15:00,8285.45,8295.90,8285.45,8293.90,NaN,NaN,NaN
2015-01-09 09:18:00,8294.25,8303.00,8293.90,8300.00,NaN,NaN,NaN
2015-01-09 09:21:00,8300.65,8302.90,8293.25,8294.70,NaN,NaN,NaN
2015-01-09 09:24:00,8295.20,8302.55,8289.45,8289.45,NaN,NaN,NaN
2015-01-09 09:27:00,8289.65,8294.15,8286.80,8294.15,NaN,NaN,NaN

In [4]:
data.loc[data.index[0],'bar_marker'] = 'AB'
B1L_marked = ''
B2L_marked = ''
B1H_marked = ''
B2H_marked = ''
place_order_lst = []

In [5]:
for i in range(1, 300):
    if data.loc[data['bar_marker'] == 'AB', 'low'].item() > data.loc[data.index[i], 'low'] and data.loc[data['bar_marker'] == 'AB', 'close'].item() > data.loc[data.index[i], 'close']:
        if B1L_marked != 'Yes':
            data.loc[data.index[i], 'bar_marker'] = 'B1L'
            B1L_marked = 'Yes'
        else:
            data.loc[data.index[i], 'bar_marker'] = 'B2L'
            B2L_marked = 'Yes'
    elif data.loc[data['bar_marker'] == 'AB', 'high'].item() < data.loc[data.index[i], 'high'] and data.loc[data['bar_marker'] == 'AB', 'close'].item() < data.loc[data.index[i], 'close']:
        if B1H_marked != 'Yes':
            data.loc[data.index[i], 'bar_marker'] = 'B1H'
            B1H_marked = 'Yes'
        else:
            data.loc[data.index[i], 'bar_marker'] = 'B2H'
            B2H_marked = 'Yes'

    if B2L_marked == 'Yes':
        data.loc[data['bar_marker'] == 'AB', 'sph_spl_marker'] = 'H'
        data.loc[data['bar_marker'] == 'B1L', 'bar_marker'] = 'B1L_old'
        B1L_marked = ''
        B2L_marked = ''
        place_order_lst.append('H')
        if len(place_order_lst) == 3:
            if place_order_lst == ['L','H','L'] or place_order_lst == ['H','L','H']:
                data.loc[data['bar_marker'] == 'AB', 'place_order_marker'] = 'Yes'
            del place_order_lst[0]
        data.loc[data['bar_marker'] == 'AB', 'bar_marker'] = 'AB_old'
        data.loc[data['bar_marker'] == 'B2L', 'bar_marker'] = 'AB'

    if B2H_marked == 'Yes':
        data.loc[data['bar_marker'] == 'AB', 'sph_spl_marker'] = 'L'
        data.loc[data['bar_marker'] == 'B1H', 'bar_marker'] = 'B1H_old'
        B1H_marked = ''
        B2H_marked = ''
        place_order_lst.append('L')
        if len(place_order_lst) == 3:
            if place_order_lst == ['L','H','L'] or place_order_lst == ['H','L','H']:
                data.loc[data['bar_marker'] == 'AB', 'place_order_marker'] = 'Yes'
            del place_order_lst[0]
        data.loc[data['bar_marker'] == 'AB', 'bar_marker'] = 'AB_old'
        data.loc[data['bar_marker'] == 'B2H', 'bar_marker'] = 'AB'

In [6]:
#print('B1L_marked = ' + B1L_marked + ' B2L_marked = ' + B2L_marked + ' B1H_marked = ' + B1H_marked + ' B2H_marked = ' + B2H_marked + ' place_order_lst = ' + str(place_order_lst))

In [7]:
data.head(300)

,open,high,low,close,bar_marker,sph_spl_marker,place_order_marker
date,,,,,,,
2015-01-09 09:15:00,8285.45,8295.90,8285.45,8293.90,AB_old,L,NaN
2015-01-09 09:18:00,8294.25,8303.00,8293.90,8300.00,B1H_old,NaN,NaN
2015-01-09 09:21:00,8300.65,8302.90,8293.25,8294.70,AB_old,H,NaN
2015-01-09 09:24:00,8295.20,8302.55,8289.45,8289.45,B1L_old,NaN,NaN
2015-01-09 09:27:00,8289.65,8294.15,8286.80,8294.15,AB_old,H,NaN
2015-01-09 09:30:00,8294.10,8295.75,8282.00,8283.10,B1L_old,NaN,NaN
2015-01-09 09:33:00,8282.75,8290.45,8280.65,8285.25,AB_old,H,NaN
2015-01-09 09:36:00,8284.75,8287.55,8278.00,8282.55,B1L_old,NaN,NaN
2015-01-09 09:39:00,8282.30,8288.30,8281.20,8285.60,NaN,NaN,NaN
2015-01-09 09:42:00,8286.10,8286.65,8277.40,8285.55,NaN,NaN,NaN
2015-01-09 09:45:00,8285.40,8287.65,8278.05,8279.15,AB_old,H,NaN
2015-01-09 09:48:00,8279.75,8284.45,8273.95,8275.55,B1L_old,NaN,NaN
2015-01-09 09:51:00,8275.50,8281.35,8274.95,8278.65,AB_old,L,NaN
2015-01-09 09:54:00,8278.70,8280.65,8275.05,8280.05,NaN,NaN,NaN
2015-01-09 09:57:00,8279.45,8283.60,8278.30,8282.00,B1H_old,NaN,NaN
2015-01-09 10:00:00,8281.80,8286.65,8281.70,8286.10,AB_old,H,Yes
2015-01-09 10:03:00,8286.35,8287.35,8283.25,8283.50,NaN,NaN,NaN
2015-01-09 10:06:00,8283.60,8286.40,8282.05,8282.85,NaN,NaN,NaN
2015-01-09 10:09:00,8283.10,8283.60,8274.95,8275.75,B1L_old,NaN,NaN
2015-01-09 10:12:00,8275.75,8281.60,8275.75,8281.55,AB_old,L,Yes
2015-01-09 10:15:00,8281.50,8284.25,8277.95,8280.95,NaN,NaN,NaN
2015-01-09 10:18:00,8280.70,8284.15,8279.40,8283.95,B1H_old,NaN,NaN
2015-01-09 10:21:00,8283.75,8287.90,8283.60,8285.95,AB_old,L,NaN
2015-01-09 10:24:00,8285.80,8288.65,8285.80,8288.35,B1H_old,NaN,NaN
2015-01-09 10:27:00,8286.65,8291.10,8286.65,8290.45,AB_old,H,NaN
2015-01-09 10:30:00,8290.60,8291.45,8286.30,8288.55,B1L_old,NaN,NaN
2015-01-09 10:33:00,8288.45,8290.00,8286.20,8286.95,AB_old,H,NaN
2015-01-09 10:36:00,8286.70,8287.25,8283.75,8285.00,B1L_old,NaN,NaN
2015-01-09 10:39:00,8285.00,8287.45,8282.60,8283.35,AB_old,H,NaN
2015-01-09 10:42:00,8283.15,8284.10,8280.45,8281.35,B1L_old,NaN,NaN
...,...,...,...,...,...,...,...
2015-01-13 10:15:00,8337.10,8337.85,8335.65,8336.35,AB_old,H,NaN
2015-01-13 10:18:00,8336.35,8337.15,8332.25,8332.25,B1L_old,NaN,NaN
2015-01-13 10:21:00,8332.70,8335.15,8332.15,8334.60,AB_old,L,NaN
2015-01-13 10:24:00,8334.55,8339.20,8332.60,8335.35,B1H_old,NaN,NaN
2015-01-13 10:27:00,8335.15,8338.70,8333.90,8337.90,AB_old,L,NaN
2015-01-13 10:30:00,8337.85,8341.40,8336.15,8338.70,B1H_old,NaN,NaN
2015-01-13 10:33:00,8338.70,8340.00,8336.10,8338.70,AB_old,L,NaN
2015-01-13 10:36:00,8338.80,8342.60,8338.65,8342.10,B1H_old,NaN,NaN
2015-01-13 10:39:00,8342.40,8344.35,8340.75,8344.00,AB_old,H,NaN
2015-01-13 10:42:00,8344.05,8344.75,8343.25,8343.65,NaN,NaN,NaN
2015-01-13 10:45:00,8343.50,8344.15,8341.70,8343.85,NaN,NaN,NaN
2015-01-13 10:48:00,8343.90,8344.70,8340.95,8342.15,NaN,NaN,NaN
2015-01-13 10:51:00,8342.25,8343.50,8341.10,8341.95,NaN,NaN,NaN
2015-01-13 10:54:00,8341.60,8342.85,8339.45,8340.45,B1L_old,NaN,NaN
2015-01-13 10:57:00,8340.35,8340.60,8337.60,8337.95,AB_old,H,NaN
2015-01-13 11:00:00,8338.10,8339.85,8337.85,8339.75,NaN,NaN,NaN
2015-01-13 11:03:00,8339.70,8340.60,8335.20,8337.90,B1L_old,NaN,NaN
2015-01-13 11:06:00,8338.00,8341.60,8337.70,8340.00,B1H_old,NaN,NaN
2015-01-13 11:09:00,8339.65,8340.00,8335.45,8337.10,AB_old,H,NaN
2015-01-13 11:12:00,8336.90,8338.10,8335.60,8336.40,NaN,NaN,NaN
2015-01-13 11:15:00,8336.60,8337.95,8336.20,8337.10,NaN,NaN,NaN
2015-01-13 11:18:00,8337.05,8338.75,8336.55,8336.90,NaN,NaN,NaN
2015-01-13 11:21:00,8336.95,8337.25,8330.15,8330.15,B1L_old,NaN,NaN
2015-01-13 11:24:00,8330.20,8332.65,8328.30,8332.40,AB_old,H,NaN
2015-01-13 11:27:00,8332.15,8332.40,8328.15,8329.30,B1L_old,NaN,NaN
2015-01-13 11:30:00,8329.45,8329.45,8323.30,8324.40,AB_old,L,NaN
2015-01-13 11:33:00,8324.55,8330.00,8324.10,8328.65,AB_old,L,NaN
2015-01-13 11:36:00,8329.15,8331.95,8328.60,8330.20,B1H_old,NaN,NaN
2015-01-13 11:39:00,8330.45,8336.90,8330.20,8336.80,AB,NaN,NaN
2015-01-13 11:42:00,8336.55,8336.90,8332.85,8333.25,NaN,NaN,NaN